.cycles{
text-align: center;
}

.dots{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.dot{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: var(--success);
  margin-top: 1.5rem;
}

.workTime{
  background-color: var(--warning);
}

.shortBreak{
  background-color: var(--success);
}

.longBreakTime{
  background-color: var(--info);
}